extends include/iframeProfile


block content
  .archives.box-style.mt20
    - var lastYear = 0,lastMonth=0
    for article,i in articles
      - var isNew = false
      if lastMonth != article.time_month || lastYear != article.time_year
        - isNew = true
      .archive-view.container-fluid.clearfix(class="#{isNew ? 'bd-top':''}")
        .archive-year.pull-left
          if lastMonth != article.time_month || lastYear != article.time_year
            a(href='#') #{article.time_year + '-' + article.time_month}
          - lastYear = article.time_year
          - lastMonth = article.time_month
        .archive-list.clearfix(class="#{(!isNew) ? 'bd-top':''}")
          .archive-title.pull-left
            a #{article.title}
          .archive-mate.pull-right
            i.fa.fa-calendar.m0-5
            span #{article.time_month + '-' + article.time_day}

block sidebar
  .panel.panel-default.side-panel
    .panel-heading
      h1.panel-title Archives
    .list-group.set-item
      - var lastYear = 0,lastMonth=0
      for article in articles
          if lastMonth != article.time_month || lastYear != article.time_year

            a.list-group-item.archive-left-list(href='#')
              i.fa.fa-calendar.m0-5
              | #{article.time_year + '-' + article.time_month}
            - lastYear = article.time_year
            - lastMonth = article.time_month