extends include/iframeProfile


block content
  .archives.box-style
    //- var articless = [{'time':{'year':'2016','month':'7','day':'11'}},{'time':{'year':'2016','month':'11','day':'11'}},{'time':{'year':'2016','month':'11','day':'12'}}]
    - var lastYear = 0,lastMonth=0
    for article,i in articles
      - var isNew = false
      if lastMonth != article.time.month || lastYear != article.time.year
        - isNew = true
      .archive-view.container-fluid.clearfix(class="#{isNew ? 'bd-top':''}")
        .archive-year.pull-left
          if lastMonth != article.time.month || lastYear != article.time.year
            a(href='#') #{article.time.year + '-' + article.time.month}
          - lastYear = article.time.year
          - lastMonth = article.time.month
        .archive-list.clearfix(class="#{(!isNew) ? 'bd-top':''}")
          .archive-title.pull-left
            a #{article.title}
          .archive-mate.pull-right
            i.fa.fa-calendar.m0-5
            span #{article.time.month + '-' + article.time.day}

block sidebar
  .panel.panel-default.side-panel
    .panel-heading
      h1.panel-title Archives
    .list-group.set-item
      - var lastYear = 0,lastMonth=0
      for article in articles
          if lastMonth != article.time.month || lastYear != article.time.year

            a.list-group-item.archive-left-list(href='#')
              i.fa.fa-calendar.m0-5
              | #{article.time.year + '-' + article.time.month}
            - lastYear = article.time.year
            - lastMonth = article.time.month