extends include/iframeCom

block content
  .content-box.container-fluid
    .box-title.art-title
      p.text-center #{article.title}
    .discrible
      span
        i.fa.fa-user
        a.author.h5(href='/user/#{article.name}') #{article.name}

      span.pv.pull-right
        i.fa.fa-eye
        span #{article.pv}
      span.post-time.pull-right
        i.fa.fa-clock-o
        | #{article.time}
    .box-body
      .article-content !{article.content}
    .box-foot.row
      .archive.col-sm-3
        i.fa.fa-folder
        span python
      .tag.col-sm-9
        i.fa.fa-tags
        span tags
      //.col-sm-1
      //  i.fa.fa-eye
      //  span #{article.pv}
    nav
      ul.pager
        li.previous
          a(href='#')
            span.fa.fa-chevron-left(aria-hidden="true")
            | &nbsp; Previous
        li.next
          a(href='#') Next &nbsp;
            span.fa.fa-chevron-right(aria-hidden="true")

block sidebar
  include include/sidebar
