extends layout

block content
  .content-box.container-fluid
    .box-title
      .h3(href='#') #{article.title}
    .discrible
      span
        i.fa.fa-user
        a.author.h5(href='/user/#{article.name}') #{article.name}
      span.post-time.pull-right
        i.fa.fa-clock-o
        | #{article.time}
    .box-body
      .text-indent.article-content !{article.content}
    .box-foot.row
      .archive.col-sm-2
        i.fa.fa-folder
        span python
      .tag.col-sm-8
        i.fa.fa-tags
        span tags
      .col-sm-2
        i.fa.fa-comments
        span 2
        i.fa.fa-star-o
        span 6

block sidebar
  include include/sidebar
