extends include/iframeCom

block content
  p.text-brekall 共找到
    b.cred.m0-5 #{count}
    | 条与
    b.cred.m0-5 #{keyword}
    | 相关的结果
  each article in articles
    .content-box.container-fluid.box-style
      .box-title.list-title
        a.hove-style(href='/article/#{article._id}')
          span #{article.title}
      .discrible
        span
          i.fa.fa-user
          a.author.h5(href='/user/#{article.author.name}') #{article.author.name}
        span.post-time.pull-right
          i.fa.fa-clock-o
          | #{article.time}
      .box-body

        .article-list !{article.content}
        a#more(href='/article/#{article._id}') READ MORE
      .box-foot.row
        .pull-right
          span.cmt
            i.fa.fa-comments
            span 2
          span.pv
            i.fa.fa-eye
            span #{article.pv}
        .archive.col-sm-3
          i.fa.fa-folder
          span #{article.category}
        .tag.col-sm-6
          i.fa.fa-tags
          span tags

block sidebar
  include include/sidebar