each article in articles
  .content-box.container-fluid
    .box-title.list-title
      a.hove-style(href='/article/#{article._id}')
        span #{article.title}
    .discrible
      span
        i.fa.fa-user
        a.author.h5(href='/user/#{article.name}') #{article.name}
      span.post-time.pull-right
        i.fa.fa-clock-o
        | #{article.time}
    .box-body

      .article-list !{article.content}
      a#more(href='/article/#{article._id}') READ MORE
    .box-foot.row
      .pull-right
        span.cmt
          i.fa.fa-comments
          span 2
        span.pv
          i.fa.fa-eye
          span #{article.pv}
      .archive.col-sm-3
        i.fa.fa-folder
        span python
      .tag.col-sm-6
        i.fa.fa-tags
        span tags


nav.text-center
  - var url = isIndex ? '' : (title+'/')
  if pages > 1
    ul.pagination
      if !isFirstPage
        li
          a(href='/#{url}page/#{page-1}', aria-label="Previous")
            span(aria-hidden="true") &laquo;
      - for (var i=1; i<=pages; i++){
        - var isActive = (page == i) ? 'active': ''
        li(class='#{isActive}')
          a(href='/#{url}page/#{i}') #{i}
            span.sr-only
      - }
      if !isLastPage
        li
          a(href='/#{url}page/#{page+1}', aria-label="Next")
            span(aria-hidden="true") &raquo;