each article in articles
  .content-box.container-fluid
    .box-title
      a.h3(href='article/#{article._id}') #{article.title}
    .discrible
      span
        i.fa.fa-user
        a.author.h5(href='user/#{article.name}') #{article.name}
      span.post-time.pull-right
        i.fa.fa-clock-o
        | #{article.time}
    .box-body

      p.text-indent #{article.content}
      a#more(href='/article/#{article._id}') READ MORE
    .box-foot.row
      .archive.col-sm-2
        i.fa.fa-folder
        span python
      .tag.col-sm-8
        i.fa.fa-tags
        span tags
      .col-sm-2
        i.fa.fa-comments
        span 2
        i.fa.fa-star-o
        span 6

nav.text-center
  if pages > 1
    ul.pagination
      if !isFirstPage
        li
          a(href='/article/page/#{page-1}', aria-label="Previous")
            span(aria-hidden="true") &laquo;
      - for (var i=1; i<=pages; i++){
        - var isActive = (page == i) ? 'active': ''
        li(class='#{isActive}')
          a(href='/article/page/#{i}') #{i}
            span.sr-only
      - }
      if !isLastPage
        li
          a(href='/article/page/#{page+1}', aria-label="Next")
            span(aria-hidden="true") &raquo;