header.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar')
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      if user
        a.navbar-brand#logo-img(href='/user/#{user.name}',title="#{user.name}", data-container="body", data-toggle="popover", data-trigger="hover", data-placement="bottom", data-content="点击进入个人中心")
          img.img-circle(width='40', height='40', src='#{user.profilePic}')

    .collapse.navbar-collapse#bs-navbar
      ul.nav.navbar-nav.text-center
        li.active
          a(href='/') Home
        li
          a(href='#') Archives
        li
          a(href='#') About
      .nav.navbar-nav.navbar-right.text-center#user
        if !user
          button.btn.btn-default.navbar-btn#login-btn(type='button',data-toggle='modal',data-target='#login') Sign in
          button.btn.btn-success.navbar-btn#reg-btn(type='button',data-toggle='modal',data-target='#reg') Sign up
        else
          a.btn.btn-default.navbar-btn#signout-btn(type='button', href='/signout') Sign out
          a.btn.btn-success.navbar-btn#post-btn(type='button', href='/post') Post

  if (success)
    .alert.alert-success#alertMessage
      a.close(data-dismiss="alert") &times;
      strong #{success}
  if (error)
    .alert.alert-danger#alertMessage
      a.close(data-dismiss="alert") &times;
      strong #{error}
